.App {
  text-align: center;
}
.cluster-button-wrapper {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cluster-button {
  padding: 4px 18px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  outline: none;
}
.active-toggle {
  background-color: rgb(92, 179, 220);
  border: 1px solid rgb(28, 134, 183);
}
.reset-button {
  margin-top: 20px;
  padding: 10px 32px;
  cursor: pointer;
}
.main-section {
  margin-top: 20px;
  border-top: 1px solid grey;
}
